.book-wrapper{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
}
.form select{
    margin: 10px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 35%;
    border-radius: 10%;
    font-family:inherit;
    font-size: inherit;
}
.form label{
    text-align: center;
    
}
