nav {

    display: flex;
   justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:black;
  color: white;
    font-style: oblique;

    }
    .nav-link{
    
     margin-right: 40px;
      margin-left: auto;
      
      width: 40%;
      justify-content: space-around;
      display:flex;
      text-align:justify;
      list-style: none;
    }
    .link {
    margin-left: 100px;
    display:inline;
    font-size: 20px;
    }
    .logo img {
      width: 90px; 
      height: 80px; 
      border-radius: 120px;
      margin-top: 5px;
      margin-left: 50px;
      border:solid 2px

    }
 

 