.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    border:solid black;
    margin:5px;
    margin-left: 110px;
    margin-right: 101px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
  .row{
    text-align: center;
  }
  .row img{
    width:150px;
    border-radius: 50%;
  }

  