
  .layout{
      background-image:url('https://image.freepik.com/free-vector/barber-shop-background-design_1257-24.jpg');
      background-size: 100%;
     background-repeat: no-repeat;
      margin-top: -22px;
      margin-bottom: 0px;
 
  }
  .address{
 font-family: sans-serif;
 font-style: italic;
padding-top: 5px;
  }



