
  .layout{
      background-image:url('https://previews.123rf.com/images/haveseen/haveseen1704/haveseen170400481/76733642-vintage-barber-shop-tools-on-old-wooden-background.jpg');
      background-size: 100%;
     background-repeat: no-repeat;
      margin-top: -22px;
      margin-bottom: 0px;
 
  }


