.footer{
    background-color:rgba(185, 182, 182, 0.06);
        text-align: center;
        position: relative;
        height: 100px;
        bottom: 0;
        width: 100%;
    
}
.footer p {
    color:whitesmoke;
    padding:35px;
}