.book-wrapper{
    text-align: center;
}
.form select{
    margin: 10px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 25%;
    border-radius: 10%;
    font-family:inherit;
    font-size: inherit;
}
.form label{
    text-align: center;
    
}