
.App {
font-family: sans-serif;
text-align: center;

}
.main{
  text-align: left;
  background-image: url(https://www.esquireme.com/public/styles/full_img/public/images/2020/09/23/CG_-barber2532_11339789.jpg?itok=JSkEAuOU);
 background-size :100%;
  color:white;
font-style: italic;

}
.main h1{
  margin:auto;
padding-top: 10%;
padding-left: 10%;
  font-size: 19px;
    line-height: 29px;
    color: antiquewhite;
}

.text-Wrapper{
  font-size: 50px;
  padding-left: 15%;
  color: antiquewhite;
}
.text-Wrapper strong{
  color:rgb(220, 233, 233) ;
 
}


